.key {
    border: 1px solid black;
    border-radius: 2px;
    display: inline-block;
    padding: 5px 10px;
}

.special {
    font-family: Georgia;
    background-color: teal;
    border-radius: 5px;
    padding: 10px;
}

.equation {
    font-size: 36px;
}

.yellow {
    background-color: yellow;
}

.jspsych-display-element input[type=text] {
    font-size: 36px;
    width: 100px;
    text-align: center;
}